body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #303846;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
}
.flex {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.p-10 {
    padding: 10px;
}
.ai-c {
    align-items: center;
}
.text-bold {
    font-weight: bold;
}
.list-st-none {
    list-style-type: none;
}
.td-none {
    text-decoration: none;
}
.color-303846 {
    color:  #303846;
}
.main {
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
.first-block {
    z-index: 1;
    width: 100%;
    height: 700px;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.fd-column {
    flex-direction: column;
}
.mt-390 {
    margin-top: 390px;
}
.mt-10 {
    margin-top: 10px;
}
.fs-48 {
    font-size: 48px;
}
.color-white {
    color: white;
}
.fs-18 {
    font-size: 18px;
}
.mt-8 {
    margin-top: 8px;
}
.first-block_button {
    margin-top: 18px;
    padding: 12px;
    border: 1px solid white;
    text-align: center;
}
.br-10 {
    border-radius: 10px;
}
.w-1000 {
    width: 1000px; 
}
.bz-bb {
    box-sizing: border-box;
}
.mt-50 {
    margin-top: 50px;
}
.w-300 {
    width: 300px;
}
.text-center {
    text-align: left;
}
.lh-25 {
    line-height: 25px;
}
.fw-wrap {
    flex-wrap: wrap;
}
.fs-31 {
    font-size: 31px;
}
.background-f7f7f7 {
    background-color: #f7f7f7;
}
.jc-center {
    justify-content: center;
}
.main-content {
    width: 100%;
}
.m-auto {
    margin: 0 auto;
}
.w-500 {
    width: 500px;
}
.mr-70 {
    margin-right: 70px;
}
.ml-70 {
    margin-left: 70px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mt-20 {
    margin-top: 20px;
}
.main-content_button {
    margin-right: 280px;
    width: 130px;
    margin-top: 18px;
    padding: 12px;
    border: 1px solid  rgb(68, 230, 181);
    border-radius: 10px;
    text-align: center;
}
.color-green {
    color: rgb(68, 230, 181);
}
.w-400 {
    width: 400px;
}
.fs-25 {
    font-size: 25px;
}
.form-select {
    width: 150px;
    padding: 8px;
    border: 1px solid  gainsboro;
    text-align: left;
    margin-right: 45px;
}
.form-input {
    width: 180px;
    padding: 8px;
    border: 1px solid gainsboro;
    text-align: left;
}
.border {
    border: 2px solid  rgb(68, 230, 181);
}
.mb-20 {
    margin-bottom: 20px;
}